##########
# System #
##########

# macOS
.DS_Store


##########
# Python #
##########

**/__pycache__/
*.pyc


#################
# VSOP compiler #
#################

# Executable
vsop-compiler/code/build/
vsop-compiler/code/vsopc

# Parser
vsop-compiler/code/parser.out
vsop-compiler/code/vsop_parsetab.py
