##########
# System #
##########

# macOS
.DS_Store


##########
# Python #
##########

**/__pycache__/
*.pyc


#################
# VSOP compiler #
#################

# Executable
vsopc

# Parser
parser.out

# Intermediate files
*.ll
*.s


##############
# Exceptions #
##############

!vsop-compiler/code/llvm/object/object.ll
