##########
# System #
##########

# macOS
.DS_Store


##########
# Python #
##########

**/__pycache__/
*.pyc


#################
# VSOP compiler #
#################

# Executable
**/build/
vsopc

# Parser
parser.out
